
/*********** FONTE PIXELADA *************/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


/*********** GERAL *************/
body {
    background-color: black;
    color: #00FF00;
    font-family: 'VT323', monospace;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*********** TESTANDO EFEITO CRT *************/

.crt:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(255, 255, 255, 0.05) 50%,
        transparent 50%
    );
    background-size: 100% 3px;
    z-index: 1;
}

.crt:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.content {
    position: relative;
    z-index: 3;
}

/*********** SCANLINES ************
 * Credits: 
 * https://codepen.io/marcusconnor/pen/QJNvMa
 

.scanlines {
	width: 100%;
	height: 100px;
	z-index: 8;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(255, 255, 255, 0.2) 10%,
		rgba(0, 0, 0, 0.1) 100%
	);
	opacity: 0.1;
	position: relative;
	bottom: 100%;
	pointer-events: none;
	animation: scanline 10s linear infinite;
}
*/